%h3#aboutme about me
%section.about
  %p
    Hi! My name is Kacper and I'm a Full Stack Developer. I write code primary in PHP (laravel) & Ruby (sinatra), using Vue/ES6 for the frontend. Download my 
    %a{href: '/pdf/resume.pdf'} 
      resume
      %span.fa.fa-file-pdf-o
    for more info!
  %p
    You can contact me at
    %a{href: "mailto:kmarcisz@gmail.com"} kmarcisz@gmail.com
    or (773) 704 3540

%h3#portfolio portfolio
%section.projects.projects--compact
  - @portfolioProjects.each do |project|
    .project
      %a{href: project["link"], class: project["link"].nil? ? "#" : "external"}
        %img.fluid{src: "/images/projects/#{ project["image"] }", alt: project["name"]}
        %h4= project["name"]
      .description
        %p= project["summary"]

%h3#interests interests
%section.projects
  - @hobbyProjects.each do |project|
    .project
      - if !project["image"].nil?
        %img.fluid{src: "/images/hobbies/#{ project["image"] }", alt: project["name"]}
      - elsif !project["video"].nil?
        %video.fluid{src: project["video"], type:"video/mp4", controls: true}
      %h4= project["name"]
      .description
        %p= project["summary"]